@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<input type="button" class="btn btn-primary" value="Pull Card" onclick="PullCard()" />
<input type="button" class="btn btn-primary" value="Reshuffle" onclick="Shuffle()" />
<div id="deck" class="container-fluid"></div>

<div class="col-md-12 col-xs-12"></div>
<style>
    img {
        width: 140px;
        height: 210px;
    }

    .card-name {
        text-align: center;
        width: 140px;
        border: 1px solid green;
        background-color: crimson;
        margin-top: 3px;
        border-radius: 5px;
    }

    .checked-card {
        background-color: aqua;
    }

    .card-name:hover {
        background-color: darkolivegreen;
        color: white;
        cursor: pointer;
    }
</style>
<script src="~/Scripts/deckofcardsapi.js"></script>